/*
COLOR CODES
#55595C - rgb(85, 89, 92) MID GREY
#36363B - rgb(54, 54, 59) DARK GREY
#141A30 - rgb(20, 26, 48) DARK BLUE
#0F295E - rgb(15, 41, 94) MID BLUE
#5F7AA1 - rgb(95, 122, 161) LIGHT BLUE
#BCE8E8 - rgb(188, 232, 232) LIGHT CYAN
*/

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}

/*header*/
header {
    height: 100vh;
}

.video {
    position: relative;
    height: 100%;
    width: 100%;
    background: linear-gradient(rgba(20,26,46,0.6), rgba(20,26,48,0.1));

}

.videoContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.8;
    z-index: -1;   
}

.bgVideo {
    object-fit: cover; 
    width: 100%;
}
/*end header*/

/*navbar*/
.myMenu {
    background: linear-gradient(rgba(20,26,46,0.9), rgba(20,26,48,0.8));
    border-bottom: 1px ridge rgba(20,26,46,0.1);
}
/*end navbar*/