/*
COLOR CODES
#55595C - rgb(85, 89, 92) MID GREY
#36363B - rgb(54, 54, 59) DARK GREY
#141A30 - rgb(20, 26, 48) DARK BLUE
#0F295E - rgb(15, 41, 94) MID BLUE
#5F7AA1 - rgb(95, 122, 161) LIGHT BLUE
#BCE8E8 - rgb(188, 232, 232) LIGHT CYAN
*/

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    overflow-x: hidden;
}

/*HEADER*/
header {
    height: 100vh;
    background: linear-gradient(rgba(20,26,46,0.6), rgba(20,26,46,0.3)), url('../img/beach_air.jpg') no-repeat center center /cover;
}
/*END HEADER*/

/*NAVBAR*/
.myMenu {
    background: linear-gradient(rgba(20,26,46,0.8), rgba(20,26,48,0.7));
    border-bottom: 1px ridge rgba(20,26,46,0.1);
}

.menuItem {
    color: #eee;
    transition: all 0.4s;
}

.menuItem:hover {
    color: #70aed2;
}

.navActive {
    color: #bce8e8;
}

/*END NAVBAR*/

/*BANNER*/
.banner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
}

.letter {
    font-family: 'Playball', cursive;
    font-size: 1.5rem;
    letter-spacing: 2px;
}
/*END BANNER*/

/*PROFILE*/
.profile {
    background: linear-gradient(rgba(20,26,46,0.8), rgba(20,26,48,0.7));
    border-bottom: 1px ridge rgba(20,26,46,0.1);
    opacity: 0.95;
}

.imgWrap {
    width: 10%;
    height: auto;
}
/*END PROFILE*/

/*SOCIAL ICONS*/
.icons {
    opacity: 0.7;
    transition: all 0.4s;
}

.icons:hover {
    opacity: 1;
    transform: scale(1.25)
}
/*END SOCIAL ICONS*/

/*GALLERY*/

.galleryListItem {
    color: #777;
    cursor: pointer;
    user-select: none;
}

.activeItem{
    color: #bce8e8;
    font-weight: 900;
    transition: all 0.4s;
}




.gallery-img {
    /*remove shaking of image on hover*/
    backface-visibility: hidden;
    transition: all 0.5s;
}

.gallery-img:hover {
    transform: scale(1.05);
    box-shadow: 2px 0px 5px #ddd;
}

/*gallery image row animation*/
.first-row {
    transform: translateX(-300px);
    opacity: 0;
    transition: all 2.5s;
}

.second-row {
    transform: translateX(3300px);
    opacity: 0;
    transition: all 2.5s;
}

.animate .first-row,
.animate .second-row {
    transform: translateX(0);
    opacity: 1;
}


/*end gallery image row animation*/
/*END GALLERY*/

































