body {
    font-family: 'Montserrat', sans-serif;
}

/*header*/
header {
    height: 100vh;
}

.video {
    position: relative;
    height: 100%;
    width: 100%;
}

.videoContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.8;
    z-index: -1;
}

.bgVideo {
    object-fit: cover; 
    height: 100vh;
    width: 100%;
}
/*end header*/

/*navbar*/
.myMenu {
    background: linear-gradient(rgba(0,0,0,0.7), rbga(0,0,0,0.9));
}
/*end navbar*/