/*
FULL PAGE BACKGROUND
*/
html {
	background: url(/images/bkg.jpg) no-repeat center center fixed;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
}

/*
MIDDLE NAVIGATION CONTROLS - HOME,ABOUT,SKILLS,WORK,CONTACT
*/
.navControlMiddle {
    flex-flow: row nowrap;
}

.navControlMiddle > li {
    margin-right: 1em;
}

.navControlMiddle li:nth-child(5) {
    margin-right: 0;
}
