/*
FULL PAGE BACKGROUND
*/

html {
    background: url(/images/emile-perron-190221-unsplash.jpg) no-repeat center center fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
       /*  overflow: hidden; */    
}


body {
    font-family: 'Alegreya Sans', sans-serif;
    font-size: 1rem;
    font-weight: normal;
    color: rgba(235, 239, 243, 1);
    /*#EBEFF3*/
    letter-spacing: 2px;
    line-height: 1;
    min-height: 100vh;
    background-color: transparent;
    background: rgba(67, 15, 245, 0.6);
    background: linear-gradient(90deg, rgba(67, 15, 245, 0.6) 0%, rgba(184, 49, 235, 0.6) 100%);
    position: relative;
    overflow-y: scroll;
}

/*
NAVBAR
*/

/*toggler button*/

.navbar-toggler {
    border: none;
    background: transparent !important;
    opacity: 0.8;
}

.navbar-toggler:hover {
    background: transparent !important;
}

.navbar-toggler .icon-bar {
    width: 22px;
    background-color: white;
    display: block;
    height: 2px;
    border-radius: 1px;
    margin: 0.25em;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

/*
NAV LINKS
*/

/* change the color hovered nav items */

.navbar-custom .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: rgba(253, 128, 72, 1);
    /* bright orange #FD8048*/
    text-decoration: none;
}

/*remove blue box shadow from BS4 toggle button*/

.button:active,
button:active,
.button:focus,
button:focus,
.button:hover,
button:hover {
    border: none !important;
    outline: none !important;
}


/*ANIMATED MINUS*/

.navbar-toggler.minus.collapsed .icon-bar:nth-of-type(1) {
    transform: translate3d(0, 0, 0) rotate(0deg);
}

.navbar-toggler.minus.collapsed .icon-bar:nth-of-type(3) {
    transform: translate3d(0, 0, 0) rotate(0deg);
}

.navbar-toggler.minus .icon-bar:nth-of-type(1) {
    transform: translate3d(0, 6px, 0);
}

.navbar-toggler.minus .icon-bar:nth-of-type(3) {
    transform: translate3d(0, -6px, 0);
}

/*END MINUS ANIMATION*/

/*hover state for toggler hamburger*/

.navbar-toggler.minus.collapsed:hover > span.icon-bar,
.navbar-toggler.minus:hover > span.icon-bar {
    background-color: rgba(253, 128, 72, 1);
    /* bright orange #FD8048*/
}

main {
    min-height: 100vh;
}

#pageAbout,
#pageWork,
#pageContact {
    min-height: 100vh;
}
